.Button_Add{
    display: flex;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 20px;
    height: 20px;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
}