.Modal_TitleContentOverlay{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #74747489;
    align-items: center;
    justify-content: center;
}

.Modal_ContentSection{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    width: 60%;
}

.Modal_TitleContent_Input{
    padding: 8px;
    width: 100%;
    margin-top: 16px;
    outline: none;
}

.Modal_TitleContent_Button{
    padding: 8px;
    width: 100%;
    margin-top: 16px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 3px #dadada;
}

.Modal_TitleContent_Button:active{
    box-shadow: 1px 4px 17px #dadada;
}

.Modal_ContentSectionEditable{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Modal_ContentSectionComponents{
    display: flex;
    flex: 0.6;
    flex-direction: column;
    margin-left: 16px;
}

.Modal_ContentComponentItem{
    padding: 8px 20px;
    border-radius: 8px;
}

.Modal_ContentComponentItem:hover{
    box-shadow: 1px 4px 17px #dadada;
}


.Modal_ContentComponentItem.active{
    padding: 8px 10px;
    border-radius: 8px;
    box-shadow: 1px 4px 17px #dadada;
}

.Button_Add_Tab{
    display: flex;
    flex: 1;
    height: 100%;
    padding: 8px;
    width: 100%;
    margin-top: 16px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 3px #dadada;
    margin-right: 8px;
}

.Modal_ContainerItemTab{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Modal_SectionTagSelectedColor{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.Modal_PalletColor{
    position: absolute;
}